# common requirements with mlforkidsnumbers
ydf==0.12.0
pandas==2.3.0
requests==2.32.4

# unique to phishing project
certifi==2025.6.15
chardet==5.2.0
future==1.0.0
idna==3.10
python-dateutil==2.9.0.post0
python-whois==0.9.5
requests==2.32.4
six==1.17.0
urllib3==2.5.0
