# common requirements with mlforkidsnumbers
tensorflow-decision-forests==1.9.0
pandas==2.2.2
requests==2.32.0

# unique to phishing project
certifi==2024.2.2
chardet==5.2.0
future==1.0.0
idna==3.7
python-dateutil==2.9.0.post0
python-whois==0.9.4
requests==2.32.0
six==1.16.0
urllib3==2.2.1
